// Override the Bootstrap and HB SCSS variables.
$primary: #1d409aff;

:root,
[data-bs-theme=light] {
    --hb-blue: #0d6efd;
    --hb-indigo: #6610f2;
    --hb-purple: #6f42c1;
    --hb-pink: #d63384;
    --hb-red: #dc3545;
    --hb-orange: #fd7e14;
    --hb-yellow: #ffc107;
    --hb-green: #198754;
    --hb-teal: #20c997;
    --hb-cyan: #0dcaf0;
    --hb-black: #000;
    --hb-white: #fff;
    --hb-gray: #6c757d;
    --hb-gray-dark: #343a40;
    --hb-gray-100: #f8f9fa;
    --hb-gray-200: #e9ecef;
    --hb-gray-300: #dee2e6;
    --hb-gray-400: #ced4da;
    --hb-gray-500: #adb5bd;
    --hb-gray-600: #6c757d;
    --hb-gray-700: #495057;
    --hb-gray-800: #343a40;
    --hb-gray-900: #212529;
    --hb-primary: #0d6efd;
    --hb-secondary: #6c757d;
    --hb-success: #198754;
    --hb-info: #0dcaf0;
    --hb-warning: #ffc107;
    --hb-danger: #dc3545;
    --hb-light: #f8f9fa;
    --hb-dark: #212529;
    --hb-primary-rgb: 13, 110, 253;
    --hb-secondary-rgb: 108, 117, 125;
    --hb-success-rgb: 25, 135, 84;
    --hb-info-rgb: 13, 202, 240;
    --hb-warning-rgb: 255, 193, 7;
    --hb-danger-rgb: 220, 53, 69;
    --hb-light-rgb: 248, 249, 250;
    --hb-dark-rgb: 33, 37, 41;
    --hb-primary-text-emphasis: rgb(5.2, 44, 101.2);
    --hb-secondary-text-emphasis: rgb(43.2, 46.8, 50);
    --hb-success-text-emphasis: rgb(10, 54, 33.6);
    --hb-info-text-emphasis: rgb(5.2, 80.8, 96);
    --hb-warning-text-emphasis: rgb(102, 77.2, 2.8);
    --hb-danger-text-emphasis: rgb(88, 21.2, 27.6);
    --hb-light-text-emphasis: #495057;
    --hb-dark-text-emphasis: #495057;
    --hb-primary-bg-subtle: rgb(206.6, 226, 254.6);
    --hb-secondary-bg-subtle: rgb(225.6, 227.4, 229);
    --hb-success-bg-subtle: rgb(209, 231, 220.8);
    --hb-info-bg-subtle: rgb(206.6, 244.4, 252);
    --hb-warning-bg-subtle: rgb(255, 242.6, 205.4);
    --hb-danger-bg-subtle: rgb(248, 214.6, 217.8);
    --hb-light-bg-subtle: rgb(251.5, 252, 252.5);
    --hb-dark-bg-subtle: #ced4da;
    --hb-primary-border-subtle: rgb(158.2, 197, 254.2);
    --hb-secondary-border-subtle: rgb(196.2, 199.8, 203);
    --hb-success-border-subtle: rgb(163, 207, 186.6);
    --hb-info-border-subtle: rgb(158.2, 233.8, 249);
    --hb-warning-border-subtle: rgb(255, 230.2, 155.8);
    --hb-danger-border-subtle: rgb(241, 174.2, 180.6);
    --hb-light-border-subtle: #e9ecef;
    --hb-dark-border-subtle: #adb5bd;
    --hb-white-rgb: 255, 255, 255;
    --hb-black-rgb: 0, 0, 0;
    --hb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --hb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --hb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --hb-body-font-family: var(--hb-font-sans-serif);
    --hb-body-font-size: 1rem;
    --hb-body-font-weight: 400;
    --hb-body-line-height: 1.5;
    --hb-body-color: #212529;
    --hb-body-color-rgb: 33, 37, 41;
    --hb-body-bg: #aaa;
    --hb-body-bg-rgb: 200, 200, 200;
    --hb-emphasis-color: #000;
    --hb-emphasis-color-rgb: 0, 0, 0;
    --hb-secondary-color: rgba(33, 37, 41, 0.75);
    --hb-secondary-color-rgb: 33, 37, 41;
    --hb-secondary-bg: #e9ecef;
    --hb-secondary-bg-rgb: 233, 236, 239;
    --hb-tertiary-color: rgba(33, 37, 41, 0.5);
    --hb-tertiary-color-rgb: 33, 37, 41;
    --hb-tertiary-bg: #f8f9fa;
    --hb-tertiary-bg-rgb: 248, 249, 250;
    --hb-heading-color: inherit;
    --hb-link-color: #0d6efd;
    --hb-link-color-rgb: 13, 110, 253;
    --hb-link-decoration: underline;
    --hb-link-hover-color: rgb(10.4, 88, 202.4);
    --hb-link-hover-color-rgb: 10, 88, 202;
    --hb-code-color: #d63384;
    --hb-highlight-color: #212529;
    --hb-highlight-bg: rgb(255, 242.6, 205.4);
    --hb-border-width: 1px;
    --hb-border-style: solid;
    --hb-border-color: #dee2e6;
    --hb-border-color-translucent: rgba(0, 0, 0, 0.175);
    --hb-border-radius: 0.375rem;
    --hb-border-radius-sm: 0.25rem;
    --hb-border-radius-lg: 0.5rem;
    --hb-border-radius-xl: 1rem;
    --hb-border-radius-xxl: 2rem;
    --hb-border-radius-2xl: var(--hb-border-radius-xxl);
    --hb-border-radius-pill: 50rem;
    --hb-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --hb-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --hb-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --hb-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --hb-focus-ring-width: 0.25rem;
    --hb-focus-ring-opacity: 0.25;
    --hb-focus-ring-color: rgba(13, 110, 253, 0.25);
    --hb-form-valid-color: #198754;
    --hb-form-valid-border-color: #198754;
    --hb-form-invalid-color: #dc3545;
    --hb-form-invalid-border-color: #dc3545;
}

[data-bs-theme=dark] {
    color-scheme: dark;
    --hb-body-color: #dee2e6;
    --hb-body-color-rgb: 222, 226, 230;
    --hb-body-bg: #212529;
    --hb-body-bg-rgb: 33, 37, 41;
    --hb-emphasis-color: #fff;
    --hb-emphasis-color-rgb: 255, 255, 255;
    --hb-secondary-color: rgba(222, 226, 230, 0.75);
    --hb-secondary-color-rgb: 222, 226, 230;
    --hb-secondary-bg: #343a40;
    --hb-secondary-bg-rgb: 52, 58, 64;
    --hb-tertiary-color: rgba(222, 226, 230, 0.5);
    --hb-tertiary-color-rgb: 222, 226, 230;
    --hb-tertiary-bg: rgb(42.5, 47.5, 52.5);
    --hb-tertiary-bg-rgb: 43, 48, 53;
    --hb-primary-text-emphasis: rgb(109.8, 168, 253.8);
    --hb-secondary-text-emphasis: rgb(166.8, 172.2, 177);
    --hb-success-text-emphasis: rgb(117, 183, 152.4);
    --hb-info-text-emphasis: rgb(109.8, 223.2, 246);
    --hb-warning-text-emphasis: rgb(255, 217.8, 106.2);
    --hb-danger-text-emphasis: rgb(234, 133.8, 143.4);
    --hb-light-text-emphasis: #f8f9fa;
    --hb-dark-text-emphasis: #dee2e6;
    --hb-primary-bg-subtle: rgb(2.6, 22, 50.6);
    --hb-secondary-bg-subtle: rgb(21.6, 23.4, 25);
    --hb-success-bg-subtle: rgb(5, 27, 16.8);
    --hb-info-bg-subtle: rgb(2.6, 40.4, 48);
    --hb-warning-bg-subtle: rgb(51, 38.6, 1.4);
    --hb-danger-bg-subtle: rgb(44, 10.6, 13.8);
    --hb-light-bg-subtle: #343a40;
    --hb-dark-bg-subtle: #1a1d20;
    --hb-primary-border-subtle: rgb(7.8, 66, 151.8);
    --hb-secondary-border-subtle: rgb(64.8, 70.2, 75);
    --hb-success-border-subtle: rgb(15, 81, 50.4);
    --hb-info-border-subtle: rgb(7.8, 121.2, 144);
    --hb-warning-border-subtle: rgb(153, 115.8, 4.2);
    --hb-danger-border-subtle: rgb(132, 31.8, 41.4);
    --hb-light-border-subtle: #495057;
    --hb-dark-border-subtle: #343a40;
    --hb-heading-color: inherit;
    --hb-link-color: rgb(109.8, 168, 253.8);
    --hb-link-hover-color: rgb(138.84, 185.4, 254.04);
    --hb-link-color-rgb: 110, 168, 254;
    --hb-link-hover-color-rgb: 139, 185, 254;
    --hb-code-color: rgb(230.4, 132.6, 181.2);
    --hb-highlight-color: #dee2e6;
    --hb-highlight-bg: rgb(102, 77.2, 2.8);
    --hb-border-color: #495057;
    --hb-border-color-translucent: rgba(255, 255, 255, 0.15);
    --hb-form-valid-color: rgb(117, 183, 152.4);
    --hb-form-valid-border-color: rgb(117, 183, 152.4);
    --hb-form-invalid-color: rgb(234, 133.8, 143.4);
    --hb-form-invalid-border-color: rgb(234, 133.8, 143.4);
}

