[submodule "public"]
	path = public
	url = git@github.com:WealthInnovationsCA/public.git
[submodule "scripts/update-golang"]
	path = scripts/update-golang
	url = git@github.com:udhos/update-golang.git
